@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --font-manrope: 'Manrope', sans-serif;
    --font-inter: 'Inter', sans-serif;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .bg-glass {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
  .primary-gradient {
    background: linear-gradient(135deg, #286652 0%, #43806a 100%);
  }
  .quick-add-btn {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .group:hover .quick-add-btn {
    opacity: 1;
    transform: translateY(0);
  }
}
